.wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 40vh 20vh 10vh;
}

.item1 {
    //grid-column-start: 1;
    //grid-column-end: 4;
    
    grid-column: 1/4;
}

.item3 {
    grid-row: 2/3;
}

.item6 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.wrapper div {
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 1px;
}