.wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 40vh 20vh;
}

.wrapper div {
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 1px;
}